name: CI Pipeline


on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/Checkout@v5


    - name: Set uo Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 'latest'


    - name: Install dependencies
      run: npm install


    - name: Run Server
      run: npm run 

 
    - name: Run tests 
      run: npm test